#app {
  font-size: 14px;
  box-sizing: border-box;
}
section {
  padding: 20px;
  margin: 5px;
  border: 1px #ccc solid;
  background-color: #eee;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* BUTTONS */

button,
input[type='submit'] {
  width: 100px;
  margin-top: 20px;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: .8em;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: .4em;
  background-color: #fff;
}
button:hover,
input[type='submit']:hover {
  cursor: pointer;
}

ul,
form {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  align-items: center;
}
li,
label {
  display: grid;
  grid-template-columns: 100px 200px;
  align-items: center;
}
