// GENERAL

#app {
  font-size: 14px;
  box-sizing: border-box;
}
section {
  padding: 20px;
  margin: 5px;
  border: 1px #ccc solid;
  background-color: #eee;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

// BUTTONS

button,
input[type='submit'] {
  width: 100px;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: .8em;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: .4em;
  background-color: #fff;
}
button:hover,
input[type='submit']:hover {
  cursor: pointer;
}

// COMPONENTS

ul,
form {
  display: grid;
  align-items: center;
}
.General {
  ul,
  form {
    grid-template-rows: repeat(3, 50px);
  }
}
.Education {
  form {
    grid-template-rows: repeat(3, minmax(50px, auto));
  }
  ul {
    grid-template-rows: repeat(4, 50px)
  }
}
li,
label {
  display: grid;
  grid-template-columns: 100px 200px;
  align-items: center;
}

// EDUCATION + EXPERIENCE

.Education,
.Experience {
  > ul >li:last-child {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
.dates {
  display: grid;
  grid-template-columns: 200px 100px;
}
.start-end {
  display: grid;
  grid-template-rows: repeat(2, 50px);
}
.start-end > label {
  grid-template-columns: 100px 100px;
}
.ongoing {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2em;
  justify-items: center;
  align-content: center;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
svg {
  color: #555;
}
svg:hover {
  cursor: pointer;
  color: #000;
}

// EDUCATION

.Education {
  > ul {
    display: flex;
    flex-wrap: wrap;
    > li {
      display: block;
      width: 310px;
      margin: 10px;
      padding: 5px;
      border: 1px #bbb solid;
      background-color: #ddd;
    }
  }
}